#root {
  padding: 3em;
  height: 100%;
  /* display: grid; */
  /* grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 0px; */
}
.app {
  height: 100%;
}
.react-tabs {
  height: 100%;
}
.body-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(24, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.nav-section-container {
  grid-area: 1 / 1 / 4 / 13;
}
.content-section-container {
  grid-area: 4 / 1 / 25 / 13;
}

/* UTILITIES */
.inverted {
  filter: invert(100%);
}

.flex-box {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  max-height: 70vh;
}

/* REACT-TABS */
.tab-pane.active {
  animation-name: fadeIn;
  animation-duration: 300ms;
  animation-timing-function: linear;
}
.react-tabs__tab-panel--selected {
  animation-name: fadeIn;
  animation-duration: 300ms;
  animation-timing-function: linear;
  height: 100%;
}

.header-tab {
  display: inline-block;
  border-bottom: none;
  position: relative;
  list-style: none;
  margin-left: 2em;
  cursor: pointer;
  font-size: var(--header-nav-size);
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: var(--font-color); */
}

.header-tab--selected {
  font-size: var(--header-nav-size);
  color: var(--accent-color);
}

.react-tabs__tab--selected {
  font-size: var(--header-nav-size);
  color: var(--accent-color) !important;
  background-color: #aaa0 !important;
  /* border-bottom: 1px solid white !important; */
}
.react-tabs__tab--selected {
  /* border-bottom: 1px solid black; */
}
.react-tabs__tab-list {
  border-bottom: none !important;
  margin-top: 39px;
  margin-bottom: auto;
  padding-left: 3em;
  margin: 0 !important;
  margin-left: auto !important;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.email-image {
  width: min-content;
  height: min-content;
}

.about-container {
  max-width: 100ch;
}

/* 
.nav-item-hide {
  animation-name: slideUp;
  animation-duration: 300ms;
  animation-timing-function: linear;
} */

@keyframes slideUp {
  from {
    clip-path: inset(0vw 0vw 0vw 0);
  }
  to {
    clip-path: inset(0vw 0vw var(--clip-height) 0vw);
  }
}
@keyframes slideIn {
  from {
    clip-path: inset(var(--clip-height) 0vw 0vw 0vw);
  }
  to {
    clip-path: inset(0vw 0vw 0vw 0vw);
  }
}
