/* TYPOGRAPHY */
@font-face {
  font-family: "Satoshi-Regular";
  src: local("Satoshi-Regular"),
    url(./fonts/Satoshi-Regular.woff) format("woff");
}

/* TAGS */
:root {
  --accent-color: #eb7700;
  --nav-text-size: 4vw;
  --font-color: white;
  --background-color: #121212;
}

html * {
  font-family: Satoshi-Regular;
  color: var(--font-color);
}

body {
  padding: 3em;
  background-color: var(--background-color);
}

img {
  width: auto;
  height: 100%;
}

caption {
  color: var(--font-color);
  font-style: italic;
}

/* UTILITIES */
.inverted {
  filter: invert(100%);
}

.flex-box {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  max-height: 70vh;
}

/* REACT-TABS */
.tab-pane.active {
  animation-name: fadeIn;
  animation-duration: 300ms;
  animation-timing-function: linear;
}
.react-tabs__tab-panel--selected {
  animation-name: fadeIn;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

.header-tab {
  display: inline-block;
  border-bottom: none;
  position: relative;
  list-style: none;
  margin-left: 2em;
  cursor: pointer;
  font-size: var(--nav-text-size);
}

.header-tab--selected {
  font-size: var(--nav-text-size);
}

.react-tabs__tab--selected {
  font-size: var(--nav-text-size) !important;
  color: white !important;
  background-color: #aaa0 !important;
  border-bottom: 1px solid white !important;
}
.react-tabs__tab--selected {
  border-bottom: 1px solid black;
}
.react-tabs__tab-list {
  border-bottom: none !important;
  margin-top: 39px;
  margin-bottom: auto;
  padding-left: 3em;
  margin: auto !important;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
