/* TYPOGRAPHY */
@font-face {
  font-family: "Satoshi-Regular";
  src: local("Satoshi-Regular"),
    url(./fonts/Satoshi-Regular.woff) format("woff");
}
@font-face {
  font-family: "VCR_OSD_MONO";
  src: local("VCR_OSD_MONO"),
    url(./fonts/VCR_OSD_MONO_1.001.ttf) format("truetype");
}

/* TAGS */
:root {
  --accent-color: blue;
  --nav-text-size: 3.5vw;
  --font-color: white;
  --background-color: #121212;
  --header-nav-size: clamp(1.1rem, calc(1.7153rem + 1.6368vw), 5.5rem);
  --transition-time: 300ms;
  --clip-height: 7vw;
}

html * {
  font-family: Satoshi-Regular;
  color: var(--font-color);
  box-sizing: border-box;
}

body {
  /* padding: 3em; */
  background-color: var(--background-color);
  height: 100vh;
  overflow: hidden;
}
img {
  width: auto;
  height: 100%;
}

caption {
  color: var(--font-color);
  font-style: italic;
}
